@font-face {
  font-family: "Europa Regular";
  src: url("../assets/fonts/Europa_Grotesk_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Europa Medium";
  src: url("../assets/fonts/Europa_Grotesk_Medium.otf") format("opentype");
  font-weight: normal; 
  font-style: normal;
}